<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type = "text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type = "text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type = "text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type = "text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type = "text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>

    <title>Register of Sponsors</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <div class="mt-1">
                <h2>Register of Tier 2 and 5 Sponsors</h2>
                <p class="card-text">
                    This app was created to allow UK job seekers to conveniently look for available Tier 2 or 5
                    sponsors within a particular town or county. All data displayed here were scraped from the
                    <a href="https://www.gov.uk/government/publications/register-of-licensed-sponsors-workers">
                        Gov.uk Register of Sponsors</a>. Page last updated: <b>15/11/2020</b>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="mt-4">
                <table id="organizations" class="display table nowrap responsive" style="width: 100%">
                    <thead>
                    <tr>
                        {% for col in col_names %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in results %}
                        <tr>
                            {% for col in range(0, num_cols) %}
                                <td>{{ row[col_names[col]] }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        {% for col in col_names %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
$(document).ready(function() {
    $('#organizations').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>
</html>